.advantage-wrapper {
  background: #f5ede3;
  padding: 80px 0;
  text-align: center;
  border-radius: 30px;
}

.advantage-header h2 {
  font-size: 56px;
  font-weight: 700;
  color: #1d1f2c;
  margin-bottom: 10px;
  line-height: 130%;
}

.advantage-header p {
  font-size: 18px;
  color: #777980;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

.advantage-grid {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.advantage-card {
  padding: 45px 40px;
  text-align: left;
  border-radius: 14px;
}

.advantage-icon {
  width: 38px;
  margin-bottom: 20px;
}

.dark-card {
  background: #000;
  color: #fff;
}
.advantage-card.dark-card h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.advantage-card.dark-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.advantage-card.ultra-light-card h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.advantage-card.ultra-light-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

.light-card {
  margin-top: -50px;

  background: #ffffff;
  color: #000;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}

.advantage-card.light-card h3 {
  font-size: 32px;
  color: #1d1f2c;
  line-height: 130%;
  font-weight: 600;
}
.advantage-card.light-card p {
  font-size: 16px;
  color: #1d1f2c;
  line-height: 130%;
  font-weight: 500;
}

.ultra-light-card {
  background: #f9fafb;
  color: #000;
}

.advantage-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.advantage-card p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
}


/* RESPONSIVE – PIXEL PERFECT TEXT */

@media (max-width: 1100px) {
  .advantage-header h2 {
    font-size: 48px;
  }
}

@media (max-width: 900px) {
  .advantage-grid {
    grid-template-columns: 1fr;
    padding-left: 8px;
    padding-right: 8px;
  }

  .light-card {
    border-left: none;
    border-right: none;
  }

  .advantage-card {
    margin-bottom: 20px;
  }

  .advantage-header h2 {
    font-size: 42px;
    line-height: 125%;
  }

  .advantage-header p {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .advantage-header h2 {
    font-size: 32px;
    line-height: 125%;
  }

  .advantage-header p {
    font-size: 13px;
    margin-bottom: 35px;
  }
}

@media (max-width: 420px) {
  .advantage-header h2 {
    font-size: 28px;
  }
}
