.popular {
  margin: 25px 0;
  padding: 5px 0;
  width: 100%;
  background: #f8f2ea;
  border-radius: 20px;
}

.popular-sfx {
  max-width: 1320px;
  margin: 60px auto;
  padding: 0 10px;
}

.popular-sfx-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  align-items: flex-end;
}

.popular-des h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  color: #1d1f2c;
}

.popular-des p {
  margin-top: 18px;
  max-width: 420px;
  color: #777980;
  line-height: 1.45;
  font-size: 16px;
}

.popular-btn {
  display: flex;
  justify-content: end;
  align-items: end;
}

.sfx-btn {
  background: #1d1f2c;
  font-weight: 500;
  padding: 12px 22px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s ease;
}

.sfx-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

/* ----------- DESKTOP GRID ----------- */
.sfx-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 20px;
}

.sfx-card {
  width: 312px;
  height: 280px;
  position: relative;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.35s ease, filter 0.35s ease;
}

.sfx-large {
  width: 648px;
  height: 280px;
}

.sfx-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.35s ease;
}

.sfx-info {
  position: absolute;
  bottom: 16px;
  left: 18px;
  color: #fff;
}
.sfx-info h3 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
  color: #ffffff;
}

.sfx-info p {
  color: #e9e9ea;
  margin: 4px 0 0;
  font-size: 16px;
  opacity: 0.85;
}

/* Hover */
.sfx-card:hover {
  transform: translateY(-6px);
  filter: brightness(1.1);
}
.sfx-card:hover img {
  transform: scale(1.05);
}

/* responsive */

/* TABLET - 1024px */
@media (max-width: 1024px) {
  .sfx-grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .sfx-card,
  .sfx-large {
    width: 100%;
  }

  .sfx-large {
    grid-column: span 2;
  }

  .popular-sfx-header {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 20px;
  }

  .popular-des h2 {
    font-size: 34px;
  }

  .popular-des p {
    font-size: 15px;
    max-width: 350px;
  }
}

/* TABLET SMALL - 768px */
@media (max-width: 768px) {
  .popular-des h2 {
    font-size: 28px;
  }

  .popular-des p {
    font-size: 14px;
    max-width: 100%;
  }

  .popular-sfx-header {
    margin-bottom: 50px;

    /* flex-direction: column; */
    align-items: flex-end;
    gap: 20px;
  }

  .popular-btn {
    width: 100%;
    text-align: left;
  }

  .sfx-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sfx-large {
    grid-column: span 2;
  }
}

/* MOBILE - 600px */
@media (max-width: 600px) {
  .sfx-grid {
    grid-template-columns: 1fr !important;
    gap: 18px;
    padding: 0 5px;
  }

  .sfx-card,
  .sfx-large {
    width: 100% !important;
    height: 240px;
    grid-column: auto !important;
  }

  .popular-sfx-header {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .popular-des {
    text-align: center;
  }

  .popular-des h2 {
    font-size: 24px;
    line-height: 1.25;
  }

  .popular-des p {
    font-size: 13px;
  }

  .popular-btn {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
  }
}

/* MOBILE SMALL - 480px */
@media (max-width: 480px) {
  .popular-des h2 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  .popular-des p {
    font-size: 12px;
    text-align: center;
  }

  .popular-btn {
    justify-content: center;
  }

}
