.popular-sound-card-main {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  margin-top: -30px;
}

.soundfx-section {
  padding: 60px 0px;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  /* background: #eb3f3f; */
}

.soundfx-header {
  text-align: center;
  margin-bottom: 40px;
}

.soundfx-header h2 {
  font-size: 56px;
  font-weight: 700;
  color: #0f172a;
  line-height: 130%;
}

.soundfx-header p {
  font-size: 18px;
  font-weight: 400;
  color: #6b7280;
  margin-top: 8px;
  padding: 0 10px;
}

.tone-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Grid */
.soundfx-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/* Card */
.soundfx-card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.soundfx-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.soundfx-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.soundfx-info {
  background: #f8fafb;
  padding: 18px 18px 24px;
}

.soundfx-info h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1d1f2c;
  line-height: 130%;
  letter-spacing: 0.5%;
}

.soundfx-info p {
  font-size: 16px;
  margin: 10px 0 20px;
  color: #777980;
  line-height: 1.55;
}

.soundfx-btn {
  width: 100%;
  padding: 10px 0;
  background: #eaeff2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  color: #1d1f2c;
  font-size: 18px;
  font-weight: 500;
}

.soundfx-btn:hover {
  background: #e5e7eb;
}

/* Responsive */
@media (max-width: 1024) {
  .soundfx-section {
    padding: 0px 10px;
  }
}
@media (max-width: 991px) {
  .soundfx-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .soundfx-section {
    padding: 0px 10px;
  } */
}

@media (max-width: 600px) {
  .soundfx-grid {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }
  .soundfx-header h2 {
    font-size: 30px;
  }
  .popular-sound-card-main {
    margin-top: 1px;
    /* padding-top: 500px; */
    /* border: 2px solid red; */
  }
}
