@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar-Section {
  width: 100%;
  background: white;
  border-radius: 0 0 40px 40px;
  padding: 15px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav-container {
  max-width: 1320px;
  margin: auto;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 56px;
  width: 146px;
}

/* NAV LINKS */
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* CONTACT BUTTON */
.button-style {
  width: 112px;
  height: 49px;
  background: #0e0f1a;
  color: white !important;
  padding: 10px 32px;
  border-radius: 8px;
  display: inline-block;
}

.button-style:hover {
  opacity: 0.85;
}

/* MOBILE MENU BUTTON */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

/* When active (X icon) */
/* .menu-toggle.active {
  transform: rotate(90deg);
} */

/* RESPONSIVE */
@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    right: 20px;
    top: 80px;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: none;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links.open {
    display: block;
  }
}

@media (max-width: 500px) {
  .logo img {
    height: 38px;
  }
}

/* latest sound efects */

.main-latest-section {
  z-index: 10;
  position: relative;
  margin-top: -50px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  background: #ffffff;
  padding-top: 40px;
}

.sound-section {
  max-width: 1320px;
  margin: 0px auto;
  /* padding: 20px; */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 3px solid #b1dafc; */
  padding-bottom: 18px;
  margin-bottom: 28px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: #1d1f2c;
  line-height: 130%;
}

.right-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.top-text {
  font-size: 18px;
  color: #707070;
  font-weight: 400;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab-btn {
  padding: 14px 28px;
  border-radius: 12px;
  border: 1px solid #dfe6ef;
  background: #eaeff2;
  color: #606060;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.icon-btn {
  padding: 14px 18px;
}

.tab-btn.active {
  background: #171b2e;
  color: white;
  border-color: #171b2e;
}

.sound-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  background: white;
}

.sound-card {
  background: #f8fafb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card-header {
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.sound-title {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  line-height: 130%;
}

.player-row {
  margin: 0 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: #eaeff2;
  padding: 12px 15px;
  border-radius: 8px;
}

.play-btn,
.volume-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #0b1237;
}

.wave img {
  width: 100%;
  opacity: 0.9;
}

.time {
  font-size: 14px;
  color: #444;
}

.actions {
  display: flex;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  border-top: 1px solid #d7dce0;
}

.action-btn {
  flex: 1;
  background: #edf2f5;
  border: none;
  padding: 22px 0;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.action-btn:not(:last-child) {
  border-right: 1px solid #d7dce0;
}

/* RESPONSIVE BREAKPOINTS   */

@media (max-width: 992px) {
  .sound-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    gap: 14px;
  }

  .right-actions {
    align-items: flex-start;
  }

  .sound-grid {
    grid-template-columns: 1fr;
    padding: 16px;
  }

  .title {
    font-size: 28px;
  }

  .tab-btn {
    font-size: 15px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .player-row {
    flex-wrap: flex;
    justify-content: center;
  }

  .time {
    font-size: 12px;
  }
  .top-text {
    text-align: center;
  }
}

/* popular sound efects */
